@import "../../scss/index.scss";

.syllabus-component {
  img {
    height: 100%;
    aspect-ratio: 14 / 16;
    object-fit: cover;
  }

  .card-details {
    margin-top: 1rem;
    background: $third;
    color: $four;
    text-decoration: none;
  }

  .activated-card {
    margin-top: 1rem;
    background: $four;
    color: $five;
    text-decoration: none;
  }

  .syllabus-scroll {
    display: block;
    width: 100%;
    // height: 32rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0.25rem;
  }

  .syllabus-scroll::-webkit-scrollbar-track {
    border: 0px solid $primary;
    border-radius: 8px;
  }

  .syllabus-scroll::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 8px;
  }

  .syllabus-scroll::-webkit-scrollbar-button {
    height: 3%; //for horizontal scrollbar
  }

  .syllabus-scroll::-webkit-scrollbar {
    width: 0.5rem;
  }

  .card-title {
    height: 1.5rem;
    overflow: hidden;
  }
  .card-text {
    height: 2.6rem;
    overflow: hidden;
  }
}
